<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idanatz.oneadapter">

    <application
        android:icon="@mipmap/ic_one_launcher"
        android:label="@string/one_app_name"
        android:roundIcon="@mipmap/ic_one_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/OneAppTheme" />

</manifest>